@tailwind base;
@tailwind components;
@tailwind utilities;


.header{
  background-color: aqua;
  color:black;
  font-size: larger;

}
.header-buttons{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: large;

}

.profilepic{
  width: 400px;
  height: 400px;

}

.footer{
  background-color: black;
  color:brown;
  font-style: italic;
  font-size: large;
  
}

.footer-buttons{
display:-ms-flexbox;
font-style: italic;
font-size: large;
  justify-content: left;
  align-items: center;
  gap: 20px ;

}